body {
	background-color: #ffffff;
	color: #303841;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.main__containter {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	padding: 0 20px;
	max-width: 760px;
	margin: 0 auto
}

@-webkit-keyframes wave {
	0% {
		transform: translateX(-50%) skew(0deg, -8deg)
	}

	to {
		transform: translateX(-30%) skew(8deg, -4deg)
	}
}

@keyframes wave {
	0% {
		transform: translateX(-50%) skew(0deg, -8deg)
	}

	to {
		transform: translateX(-30%) skew(8deg, -4deg)
	}
}


.main__containter::before {
	content: "";
	display: block;
	position: fixed;
	width: 300%;
	height: 100%;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	transform: translateX(-50%) skewY(-8deg);
	background-color: #f6c90e;
	z-index: -1;
	-webkit-animation: wave 8s ease-in-out infinite alternate;
	animation: wave 8s ease-in-out infinite alternate
}

.card {
	width: 360px;
	box-sizing: border-box;
	height: 600px;
	background-color: #fff;
	box-shadow:
		0 3.2px 2.2px rgba(0, 0, 0, .02),
		0 7px 5.4px rgba(0, 0, 0, .028),
		0 12.1px 10.1px rgba(0, 0, 0, .035),
		0 19.8px 18.1px rgba(0, 0, 0, .042),
		0 34.7px 33.8px rgba(0, 0, 0, .05),
		0 81px 81px rgba(0, 0, 0, .07);

	border-radius: 30px;
	padding: 0 28px;
	position: relative;
	margin-bottom: 20px;
	overflow-x: hidden;
}

.card::before {
	content: "";
	display: block;
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background-color: #f6c90e;
	top: -20%;
	left: -50%;
	z-index: 0;
}

.card::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 800px) {
	.main__containter {
		height: auto;
		flex-direction: column;
	}
}

.card__top {
	margin: 12px 0;
	position: relative;
	display: block;
}

.card__top__logo {
	width: 50px;
}

.card__top__title {
	font-size: 24px;
	font-weight: 700;
	margin: 16px 0;
	position: relative;
}

.card__title__amount {
	float: right;
}

.card__body {
	height: calc(100% - 98px);
	position: relative;
	overflow: scroll;
}

.card__body::-webkit-scrollbar {
	display: none;
}

.product:first-child {
	padding-top: 0;
}

.product {
	padding: 40px 0;
}

.product__image {
	border-radius: 30px;
	height: 380px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.product__image>img {
	display: block;
	width: 100%;
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
	transform: rotate(-24deg);
	margin-left: -16px;
}

.product__name {
	font-size: 20px;
	font-weight: 700;
	margin: 26px 0 20px;
	line-height: 1.5;
}

.product__description {
	font-size: 13px;
	font-weight: 300;
	color: #777;
	line-height: 1.8;
	margin-bottom: 20px;
}

.product-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__price {
	font-size: 18px;
	font-weight: 700;
}

.product__button {
	cursor: pointer;
	background-color: #f6c90e;
	font-weight: 700;
	font-size: 14px;
	box-sizing: border-box;
	width: auto;
	height: 46px;
	min-width: 46px;
	padding: 16px 20px;
	border-radius: 100px;
	transition: all .25s ease;

	user-select: none;
	white-space: nowrap;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.product__button:hover {
	background-color: #f8d43f;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
}

.product__button-mark {
	background-color: #f6c90e;
	box-sizing: border-box;
	height: 46px;
	min-width: 46px;
	padding: 16px 15px;
	border-radius: 100px;
	transition: all .25s ease;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	position: relative;
	display: flex;
	overflow: hidden;
}

.card__empty {
	position: absolute;
}

.card__empty__text {
	font-size: 14px;
	font-weight: 300;
}

.cart__item {
	display: flex;
	padding: 20px 0;
}

.cart__item-left {
	flex: 0;
}

.cart__item__image {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin-right: 34px;
}

.cart__item-block>img {
	display: block;
	width: 140%;
	transform: rotate(-28deg) translateY(-40px);
	filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
}

.cart__item-right {
	flex: 1;
}

.cart__item__name {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 10px;
}

.cart__item__price {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 16px;
}

.cart__item-action {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cart__item__count {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cart__item__count__button {
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 100%;
	background-color: #eee;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s ease;
	user-select: none;
}

.cart__item__count__button:hover {
	background-color: #ddd;
}

.cart__item__count__number {
	font-size: 14px;
	margin: 0 8px;
	width: 20px;
	text-align: center;
}

.cart__item__remove {
	width: 28px;
	height: 28px;
	cursor: pointer;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f6c90e;
	transition: all .2s ease;
	user-select: none;
}

.cart__item__remove:hover {
	background-color: #f8d43f;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
}

.cart__item__remove>img {
	width: 16px;
	height: 16px;
	overflow-clip-margin: content-box;
	overflow: clip;
}